html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 35rem;
}

header {
    background-color: #222;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav li:last-child {
    margin-right: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Ajout de la propriété pour centrer le contenu */
}

main h2 {
    font-size: 28px;
    margin-top: 0;
}

main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-left: auto; /* Définition de la marge gauche à 'auto' pour centrer l'image horizontalement */
}

main p {
    margin: 10px 0;
}

button {
    background-color: #222;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}



footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex; 
    align-items: center; 
    flex-wrap: wrap;
}

.footer-col {
    flex-basis: 25.33%;
    margin-bottom: 20px;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-col p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.social-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
}




