html{
    height: 100%;
}
body{
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 35rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

header div {
    margin-right: 20px;
}

.menu-navigation {
    flex-grow: 1;
    text-align: center;
}

.menu-navigation ul {
    list-style: none;
    display: inline-flex;
    margin: 0;
    padding: 0;
}

.menu-navigation ul li {
    margin-right: 20px;
}

.menu-navigation ul li:last-child {
    margin-right: 0;
}

.menu-navigation ul li a {
    color: #fff;
    text-decoration: none;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 350px;
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

.book img {
    width: 100px;
    height: 150px; 
    object-fit: cover;
    margin-bottom: 10px;
}

.book h3 {
    font-size: 18px;
    margin: 0;
    text-align: center;
}

.book p {
    font-size: 14px;
    margin: 0;
    text-align: center;
}
.confirmer-button {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.confirmer-button:hover {
    background-color: #388e3c;
}




/* ------------------------------------------------------------- fin--------------------------------------------------- */
footer {
    background-color: #333;
    color: #fff;
    padding: 50px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    flex-basis: 33.33%;
    margin-bottom: 20px;
    padding: 0 15px;
}

.footer-col h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.footer-col p {
    font-size: 16px;
    line-height: 1.5;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.social-links {
    display: flex;
    list-style: none;
    padding: 0;
}

.social-links li {
    margin-right: 10px;
}

.social-links li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
}
